<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="!quickView"
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"
  >
  </app-fc-action-bar>
  <div
    class="body h-full w-full overflow-y-auto text-xs @container"
    *ngIf="!loading"
  >
    <form
      class="mx-auto mt-2 grid w-full grid-cols-1 gap-3 @xl:grid-cols-2"
      [formGroup]="purchasePlanForm"
    >
      <div
        class="form-input flex cursor-pointer items-center rounded-lg border border-zinc-200 bg-white p-2 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700"
        [ngClass]="{
          'border-red-400':
            purchasePlanForm.get('product')?.invalid &&
            purchasePlanForm.get('product')?.touched,
          'border-zinc-200 dark:border-zinc-700':
            purchasePlanForm.get('product')?.valid ||
            !purchasePlanForm.get('product')?.touched,
        }"
      >
        <div class="flex flex-1 flex-col" (click)="onSelectProduct()">
          <p
            class="m-0 block p-0 text-2xs font-medium leading-5 text-zinc-900 dark:text-white"
          >
            Product
            <span
              *ngIf="hasRequiredValidator('product')"
              class="required-asterisk"
              >*</span
            >
          </p>
          <p *ngIf="purchasePlanForm.value.product" class="text-xs">
            {{ purchasePlanForm.value.product.name }}
          </p>
          <p
            *ngIf="!purchasePlanForm.value.product"
            class="text-xs dark:text-gray-400 text-zinc-400"
          >
            Select Product
          </p>
        </div>
        <div class="flex items-center gap-2">
          <button
            *ngIf="purchasePlanForm.value.product"
            type="button"
            (click)="removeProduct()"
          >
            <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" (click)="onSelectProduct()">
            <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
      <div
        class="form-input flex cursor-pointer items-center rounded-lg border border-zinc-200 bg-white p-2 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700"
        [ngClass]="{
          'border-red-400':
            purchasePlanForm.get('warehouse')?.invalid &&
            purchasePlanForm.get('warehouse')?.touched,
          'border-zinc-200 dark:border-zinc-700':
            purchasePlanForm.get('warehouse')?.valid ||
            !purchasePlanForm.get('warehouse')?.touched,
        }"
      >
        <div class="flex flex-1 flex-col" (click)="onSelectWarehouse()">
          <p
            class="m-0 block p-0 text-2xs font-medium leading-5 text-zinc-900 dark:text-white"
          >
            Warehouse
            <span
              *ngIf="hasRequiredValidator('warehouse')"
              class="required-asterisk"
              >*</span
            >
          </p>
          <p *ngIf="purchasePlanForm.value.warehouse" class="text-xs">
            {{ purchasePlanForm.value.warehouse.name }}
          </p>
          <p
            *ngIf="!purchasePlanForm.value.warehouse"
            class="text-xs dark:text-gray-400 text-zinc-400"
          >
            Select Warehouse
          </p>
        </div>
        <div class="flex items-center gap-2">
          <button
            *ngIf="purchasePlanForm.value.warehouse"
            type="button"
            (click)="removeWarehouse()"
          >
            <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" (click)="onSelectWarehouse()">
            <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
      <div class="card flex justify-center w-full">
        <p-iftalabel class="w-full">
          <p-inputnumber
            class="w-full"
            formControlName="quantity"
            placeholder="Enter Quantity"
            [inputStyle]="isDarkMode ? darkInputStyle : lightInputStyle"
            [style]="{
              backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
            }"
          />
          <label
            for="quantity"
            [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
            >Quantity
            <span
              *ngIf="hasRequiredValidator('quantity')"
              class="required-asterisk"
              >*</span
            ></label
          >
        </p-iftalabel>
      </div>
      <div class="card w-full">
        <p-iftalabel>
          <p-datepicker
            [style]="{ width: '100%' }"
            inputId="icondisplay"
            showIcon
            iconDisplay="input"
            [showButtonBar]="true"
            formControlName="date"
            placeholder="Select Date"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [inputStyle]="isDarkMode ? darkInputStyle : lightInputStyle"
            [panelStyle]="{
              backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
            }"
          />
          <label
            for="date"
            [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
            >Date
            <span *ngIf="hasRequiredValidator('date')" class="required-asterisk"
              >*</span
            ></label
          >
        </p-iftalabel>
      </div>

      <div class="card flex justify-center">
        <p-iftalabel class="w-full">
          <p-select
            formControlName="status"
            inputId="dd-status"
            [options]="purchasePlanStatus"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            styleClass="w-full"
            [style]="isDarkMode ? darkInputStyle : lightInputStyle"
            [panelStyle]="{
              backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
            }"
          >
          </p-select>
          <label
            for="dd-status"
            [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
            >Status</label
          >
        </p-iftalabel>
      </div>
    </form>
  </div>
  <div class="py-[20vh] text-center" *ngIf="loading">
    <p-progress-spinner ariaLabel="loading" />
  </div>
</div>
