<p-toast></p-toast>
<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"
  ></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto py-5 text-xs">
    <form [formGroup]="registerForm" class="grid w-full gap-3 lg:grid-cols-2">
      <fc-input-text
        title="Name"
        formControlName="name"
        placeholder="Enter Supplier Name"
      ></fc-input-text>
      <fc-input-text
        title="Email"
        formControlName="email"
        placeholder="Enter Your Email"
      ></fc-input-text>
      <fc-input-tel
        title="Contact Number"
        formControlName="phone_no"
        placeholder="Enter Supplier Contact Number"
      ></fc-input-tel>
      <fc-input-text
        title="Address"
        formControlName="address"
        placeholder="Enter Supplier Address"
      ></fc-input-text>
      <ng-container formGroupName="supplier">
        <fc-input-text
          title="Tax Number"
          formControlName="tax_no"
          placeholder="Enter Supplier Tax Number"
        ></fc-input-text>
        <fc-input-text
          title="Total Payable"
          formControlName="total_payable"
          placeholder="Enter Total Payable"
        ></fc-input-text>
        <fc-input-text
          title="Account No"
          formControlName="account_no"
          placeholder="Enter Account No"
        ></fc-input-text>
        <fc-input-text
          title="Bank"
          formControlName="bank"
          placeholder="Enter Bank Name"
        ></fc-input-text>
        <fc-input-text
          title="Swift Code"
          formControlName="swift_code"
          placeholder="Enter Swift Code"
        ></fc-input-text>
      </ng-container>
    </form>
  </div>
</div>
