<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="!quickView"
    [actionButtons]="actionButtons"
    [filterButtons]="filterButtons"
  ></app-fc-action-bar>
  <form
    #supplierQuotationFormElement
    (scroll)="onScroll($event)"
    [formGroup]="supplierQuotationForm"
    class="body h-full w-full overflow-y-auto text-xs @container"
  >
    <div
      *ngIf="!loading"
      class="mx-auto mt-2 grid w-full grid-cols-1 gap-3 @xl:grid-cols-2"
    >
      <fc-input-text
        [title]="'Quotation Number'"
        [placeholder]="'Enter Supplier Quotation Number'"
        formControlName="quotation_no"
      >
      </fc-input-text>
      <!-- Select Supplier -->
      <div
        class="form-input flex cursor-pointer items-center rounded-lg border border-zinc-200 bg-white p-2 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700"
      >
        <div class="flex flex-1 flex-col" (click)="onSelectSupplier()">
          <p
            class="m-0 block p-0 text-xs font-medium leading-5 text-zinc-700 dark:text-white/60"
          >
            Supplier
          </p>
          <p *ngIf="selectedSupplier" class="text-xs">
            {{ selectedSupplier.name }}
          </p>
          <p *ngIf="!selectedSupplier" class="text-xs dark:text-gray-400">
            Select Supplier
          </p>
        </div>
        <div class="flex items-center gap-2">
          <button
            *ngIf="selectedSupplier"
            type="button"
            (click)="removeSupplier()"
          >
            <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" (click)="onSelectSupplier()">
            <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>

      <div class="card w-full">
        <p-iftalabel>
          <p-datepicker
            [style]="{ width: '100%' }"
            inputId="icondisplay"
            showIcon
            iconDisplay="input"
            [showButtonBar]="true"
            formControlName="date"
            placeholder="Date"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [inputStyle]="{
              'background-color': '#27272a',
              border: '1px solid #3f3f46',
              color: '#ffffff',
              'font-size': '12px',
              'line-height': '1.7',
            }"
          />
          <label
            for="date"
            style="font-weight: 500 !important; color: #ffffff99 !important"
            >Date</label
          >
        </p-iftalabel>
      </div>
      <div class="card w-full">
        <p-iftalabel>
          <p-datepicker
            [style]="{ width: '100%' }"
            inputId="icondisplay"
            showIcon
            iconDisplay="input"
            [showButtonBar]="true"
            formControlName="expected_delivery_date"
            placeholder="Enter Expected Delivery Date"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [inputStyle]="{
              'background-color': '#27272a',
              border: '1px solid #3f3f46',
              color: '#ffffff',
              'font-size': '12px',
              'line-height': '1.7',
            }"
          />
          <label
            for="date"
            style="font-weight: 500 !important; color: #ffffff99 !important"
            >Expected Delivery Date</label
          >
        </p-iftalabel>
      </div>

      <div class="supplier-quotation-detail @xl:col-span-2">
        <div class="mt-2 flex w-full items-center">
          <h3 class="flex-1">Detail</h3>
          <ng-container *ngIf="'create'">
            <button
              *ngIf="supplierQuotation.status == 0 && 'update'"
              type="button"
              class="flex gap-1 rounded-lg p-2 hover:bg-zinc-200 dark:hover:bg-zinc-700"
              (click)="onAddSupplierQuotationDetail()"
            >
              <fa-icon [icon]="faPlus"></fa-icon>
              Add New Item
            </button>
          </ng-container>
        </div>
        <div
          class="w-full overflow-y-auto py-2 transition-all duration-700 ease-in-out"
          *ngIf="!loading"
        >
          <div
            class="grid gap-2 @container"
            *ngIf="supplierQuotationDetails.value.length > 0"
          >
            <form [formGroup]="supplierQuotationForm">
              <div formArrayName="supplier_quotation_details">
                <ng-container
                  *ngFor="
                    let detail of supplierQuotationDetails.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <div
                    class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-zinc-100/70 bg-zinc-100/70 p-3 hover:border-sky-600 @lg:flex dark:border-zinc-800 dark:bg-zinc-800 hover:dark:border-sky-600"
                  >
                    <div
                      class="flex w-full flex-wrap items-start gap-4 @sm:items-center"
                    >
                      <!-- Gambar & Nama Produk -->
                      <div
                        class="flex items-center gap-4 @lg:w-60 @lg:flex-none @xl:w-80"
                      >
                        <div
                          class="aspect-square w-12 flex-none rounded-lg bg-white object-cover"
                        >
                          <fc-image-preview
                            [preview]="true"
                            [src]="
                              detail.value.product.default_image
                                ? detail.value.product.default_image.url
                                : detail.value.product.product_images[0]?.url
                                  ? detail.value.product.product_images[0].url
                                  : 'assets/images/placeholder/placeholder_small.jpg'
                            "
                          ></fc-image-preview>
                        </div>

                        <div class="text-xs">
                          <a
                            class="font-bold capitalize hover:text-sky-900 dark:hover:text-sky-600"
                            [routerLink]="[
                              '/product/view',
                              detail.value.product.id,
                            ]"
                            target="_blank"
                            pTooltip="View Product"
                          >
                            {{ detail.value.product.name }}
                          </a>
                        </div>
                      </div>

                      <div class="text-xs @lg:flex-1">
                        <p>{{ detail.value.quantity | number }} Unit</p>
                      </div>

                      <div class="w-full @lg:w-1/4">
                        <ng-container
                          *ngIf="
                            isSupplier && supplierQuotation.status == 0;
                            else showPrice
                          "
                        >
                          <div
                            class="mt-2 rounded-md border border-dashed border-yellow-500 bg-yellow-50 p-2 dark:border-yellow-600 dark:bg-yellow-900"
                          >
                            <label
                              for="base_price"
                              class="block mb-1 text-[10px] text-yellow-700 dark:text-yellow-200 font-semibold"
                            >
                              Enter Price Per Unit
                            </label>
                            <p-inputnumber
                              formControlName="price_per_unit"
                              mode="currency"
                              currency="IDR"
                              locale="id-ID"
                              [minFractionDigits]="0"
                              [maxFractionDigits]="0"
                              placeholder="e.g. 10000"
                              class="text-xs w-full"
                              [inputStyle]="{
                                'background-color': '#ffffff',
                                border: '1px solid #eab308',
                                color: '#000000',
                                'font-size': '12px',
                                padding: '6px',
                                'border-radius': '4px',
                              }"
                            ></p-inputnumber>
                          </div>
                        </ng-container>

                        <ng-template #showPrice>
                          <p>Price Per Unit</p>
                          <p class="mt-1">
                            {{ detail.value.price_per_unit | fcCurrency }}
                          </p>
                        </ng-template>
                      </div>

                      <div class="w-full @lg:flex-1 text-xs flex flex-col pl-8">
                        <p>Total</p>
                        <p>
                          {{
                            detail.value.quantity * detail.value.price_per_unit
                              | fcCurrency
                          }}
                        </p>
                      </div>

                      <!-- Action Buttons -->
                      <div
                        class="flex w-full justify-end gap-1 @lg:w-fit mt-2"
                        *ngIf="supplierQuotation.status == 0 && !isSupplier"
                      >
                        <button
                          type="button"
                          class="btn btn-high"
                          (click)="onEditSupplierQuotationDetail(i)"
                        >
                          <fa-icon
                            [fixedWidth]="true"
                            [icon]="faPencil"
                          ></fa-icon>
                        </button>
                        <button
                          type="button"
                          class="btn btn-high"
                          (click)="
                            onRemoveSupplierQuotationDetail(i, detail.value.id)
                          "
                        >
                          <fa-icon
                            [fixedWidth]="true"
                            [icon]="faTrash"
                          ></fa-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </form>

            <div class="flex justify-end">
              <div
                class="w-full rounded-md bg-zinc-100/70 p-3 dark:bg-zinc-800 lg:w-96"
              >
                <div
                  class="w-full rounded-lg border border-zinc-200 dark:border-zinc-700"
                >
                  <fc-input-text
                    [title]="'Quotation Note'"
                    [placeholder]="'Enter your note here'"
                    formControlName="note"
                  >
                  </fc-input-text>
                </div>
              </div>
            </div>
            <div class="flex justify-end" #detailSummary>
              <div
                class="w-full rounded-md bg-zinc-100/70 p-3 dark:bg-zinc-800 lg:w-96"
              >
                <div class="grid gap-2">
                  <div class="flex items-center justify-between px-1">
                    <p class="">Subtotal</p>
                    <p>{{ subTotalPrice | fcCurrency }}</p>
                  </div>
                  <ng-container *ngIf="isSupplier; else showTax">
                    <div
                      class="w-full rounded-lg border border-zinc-200 dark:border-zinc-700"
                    >
                      <div class="card flex justify-center w-full">
                        <p-iftalabel class="w-full">
                          <p-inputnumber
                            class="w-full"
                            mode="currency"
                            currency="IDR"
                            locale="id-ID"
                            [minFractionDigits]="0"
                            [maxFractionDigits]="0"
                            formControlName="tax"
                            placeholder="Enter Tax"
                            [inputStyle]="{
                              'background-color': '#27272a',
                              border: '1px solid #3f3f46',
                              color: '#ffffff',
                              'font-size': '12px',
                            }"
                          />
                          <label
                            for="tax"
                            style="
                              font-weight: 500 !important;
                              color: #ffffff99 !important;
                            "
                          >
                            Tax
                          </label>
                        </p-iftalabel>
                      </div>
                    </div>
                  </ng-container>

                  <ng-template #showTax>
                    <div class="flex items-center justify-between px-1">
                      <p class="">Tax</p>
                      <p>{{ supplierQuotationForm.value.tax | fcCurrency }}</p>
                    </div>
                  </ng-template>
                </div>
                <div
                  class="mt-5 flex items-center justify-between px-1 font-bold"
                >
                  <p class="">Grand Total</p>
                  <p>{{ grandTotalPrice | fcCurrency }}</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex h-full w-full items-center justify-center"
            *ngIf="supplierQuotationDetails.value.length === 0"
          >
            <p class="py-10 text-xs text-zinc-700 dark:text-white/60">
              No Item Added
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!loading"
      (click)="scrollToBottom()"
      #stickyDetailSummary
      class="sticky bottom-0 left-0 mt-2 flex w-full cursor-pointer items-center justify-between gap-4 rounded-md border border-zinc-200 bg-zinc-100/70 p-3 transition duration-300 ease-in-out dark:border-zinc-700 dark:bg-zinc-800"
      [ngClass]="{
        invisible: !isShowDetailSummary,
      }"
    >
      <div class="flex w-full items-center justify-end gap-2">
        <div class="text-right">
          <p class="text-sm">Grand Total</p>
          <p class="text-lg font-bold">{{ grandTotalPrice | fcCurrency }}</p>
        </div>
      </div>
    </div>
    <div class="py-[20vh] text-center" *ngIf="loading">
      <!-- <fc-loading></fc-loading> -->
    </div>
  </form>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>
