<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar
    [isHasBackButton]="true"
    [actionButtons]="actionButtons"
  ></app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto py-5 text-xs">
    <form [formGroup]="productForm" class="mb-16 w-full md:mb-0 lg:mb-0">
      <div class="flex flex-col gap-5 lg:flex-row">
        <div
          class="flex flex-row gap-3 overflow-auto lg:flex-col lg:overflow-visible"
        >
          <div
            class="relative h-40 w-40 flex-shrink-0"
            *ngFor="let image of pastedImages; let i = index"
          >
            <fc-image-preview
              [preview]="true"
              [src]="image.image_url"
              alt="Product Image"
              class="h-full w-full rounded-sm object-cover"
            ></fc-image-preview>
          </div>
        </div>

        <div class="flex-1 space-y-3">
          <div class="grid gap-3 lg:grid-cols-2">
            <!-- Left Side -->
            <div class="flex flex-1 flex-col gap-3">
              <fc-input-text
                title="Name"
                formControlName="name"
                placeholder="Enter Product Name"
              ></fc-input-text>
              <div class="card flex justify-center w-full">
                <p-iftalabel class="w-full">
                  <p-inputnumber
                    class="w-full"
                    mode="currency"
                    currency="IDR"
                    locale="id-ID"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="0"
                    formControlName="base_price"
                    placeholder="Enter price"
                    [inputStyle]="isDarkMode ? darkInputStyle : lightInputStyle"
                    [style]="{
                      backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
                    }"
                  />
                  <label
                    for="base_price"
                    [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
                    >Base price
                    <span
                      *ngIf="hasRequiredValidator('base_price')"
                      class="required-asterisk"
                      >*</span
                    ></label
                  >
                </p-iftalabel>
              </div>
              <!-- <div class="card flex justify-center w-full">
                <p-iftalabel class="w-full">
                  <p-inputnumber
                    class="w-full"
                    formControlName="quantity"
                    placeholder="Enter Quantity"
                    [inputStyle]="{
                      'background-color': '#27272a',
                      border: '1px solid #3f3f46',
                      color: '#ffffff',
                      'font-size': '12px',
                    }"
                  />
                  <label
                    for="quantity"
                    style="
                      font-weight: 500 !important;
                      color: #ffffff99 !important;
                    "
                    >Quantity</label
                  >
                </p-iftalabel>
              </div> -->
              <div class="grid gap-2 lg:grid-cols-3">
                <div class="card flex justify-center">
                  <p-iftalabel class="w-full md:w-56">
                    <p-select
                      formControlName="type"
                      inputId="dd-type"
                      [options]="productType"
                      optionLabel="name"
                      optionValue="id"
                      placeholder="Select Product Type"
                      styleClass="w-full"
                      [style]="isDarkMode ? darkInputStyle : lightInputStyle"
                      [panelStyle]="{
                        backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
                      }"
                    >
                    </p-select>
                    <label
                      for="dd-type"
                      [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
                      >Product Type
                      <span
                        *ngIf="hasRequiredValidator('type')"
                        class="required-asterisk"
                        >*</span
                      ></label
                    >
                  </p-iftalabel>
                </div>
                <div class="card flex justify-center">
                  <p-iftalabel class="w-full md:w-56">
                    <p-select
                      formControlName="status"
                      inputId="dd-status"
                      [options]="productStatus"
                      optionLabel="name"
                      optionValue="id"
                      placeholder="Select Status Product"
                      styleClass="w-full"
                      [style]="isDarkMode ? darkInputStyle : lightInputStyle"
                      [panelStyle]="{
                        backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
                      }"
                    >
                    </p-select>
                    <label
                      for="dd-status"
                      [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
                      >Status
                      <span
                        *ngIf="hasRequiredValidator('status')"
                        class="required-asterisk"
                        >*</span
                      ></label
                    >
                  </p-iftalabel>
                </div>
                <div class="card flex justify-center">
                  <p-iftalabel class="w-full md:w-56">
                    <p-select
                      formControlName="valuation_method"
                      inputId="dd-valuation_method"
                      [options]="productValuationMethod"
                      optionLabel="name"
                      optionValue="id"
                      placeholder="Select Valuation Method"
                      styleClass="w-full"
                      [style]="isDarkMode ? darkInputStyle : lightInputStyle"
                      [panelStyle]="{
                        backgroundColor: isDarkMode ? '#27272a' : '#ffffff',
                      }"
                    >
                    </p-select>
                    <label
                      for="dd-valuation_method"
                      [ngStyle]="{ color: isDarkMode ? '#ffffff' : '#1f2937' }"
                      >Valuation Method
                      <span
                        *ngIf="hasRequiredValidator('valuation_method')"
                        class="required-asterisk"
                        >*</span
                      ></label
                    >
                  </p-iftalabel>
                </div>
              </div>
            </div>
            <!-- Right Side -->
            <div class="flex flex-1 flex-col gap-3">
              <fc-textarea
                title="Description"
                formControlName="description"
                placeholder="Enter Product Description"
              ></fc-textarea>
              <div class="grid gap-2 lg:grid-cols-2">
                <!-- Category -->
                <div
                  class="form-input flex cursor-pointer items-center rounded-lg border border-zinc-200 bg-white p-2 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700"
                >
                  <div
                    class="flex flex-1 flex-col"
                    (click)="onSelectProductCategory()"
                  >
                    <p
                      class="m-0 block p-0 text-xs font-medium leading-5 text-zinc-900 dark:text-white"
                    >
                      Product Category
                      <span
                        *ngIf="hasRequiredValidator('product_category_id')"
                        class="required-asterisk"
                        >*</span
                      >
                    </p>
                    <p *ngIf="selectedCategory" class="text-xs">
                      {{ selectedCategory.name }}
                    </p>
                    <p
                      *ngIf="!selectedCategory"
                      class="text-xs dark:text-gray-400 text-zinc-400"
                    >
                      Select Product Category
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <button
                      *ngIf="selectedCategory"
                      type="button"
                      (click)="removeCategory()"
                    >
                      <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button type="button" (click)="onSelectProductCategory()">
                      <fa-icon
                        [fixedWidth]="true"
                        [icon]="faChevronDown"
                      ></fa-icon>
                    </button>
                  </div>
                </div>
                <!-- Brand -->
                <fc-input-text
                  title="Brand"
                  formControlName="brand"
                  placeholder="Enter Product Name"
                ></fc-input-text>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </div>
</div>
