<div class="flex h-full gap-3 @container">
  <div
    class="flex h-full w-full flex-col gap-3 transition-all duration-700 ease-in-out @container"
    [ngClass]="{
      '@3xl:w-full': !quickView,
      '@3xl:w-[20rem]': quickView,
    }"
  >
    <app-fc-action-bar
      [actionButtons]="actionButtons"
      [filterButtons]="filterButtons"
    ></app-fc-action-bar>
    <div class="body flex h-full w-full gap-3 overflow-y-auto text-xs">
      <!-- Data List -->
      <ng-container *ngIf="!loading && purchaseReturns.length > 0">
        <div class="w-full space-y-2 overflow-y-auto py-2">
          <ng-container *ngFor="let purchaseReturn of purchaseReturns">
            <div
              (dblclick)="
                quickView
                  ? onChangePurchaseReturn(purchaseReturn)
                  : navigateToDetail(purchaseReturn)
              "
              class="fc-animate-translate-up cursor-pointer items-center rounded-md border border-zinc-100/70 bg-zinc-100/70 @container hover:border-sky-600 dark:border-zinc-800 dark:bg-zinc-800 hover:dark:border-sky-600"
            >
              <div class="hidden items-center gap-3 p-3 @2xl:flex">
                <div class="w-full @lg:w-[150px]">
                  <p class="text-xs">
                    {{ purchaseReturn.purchase_return_no }}
                  </p>
                  <p class="text-xs">{{ purchaseReturn.supplier.name }}</p>
                </div>
                <div class="w-full @lg:w-[100px]">
                  <div
                    [ngClass]="getStatusColor(purchaseReturn.status)"
                    class="w-fit rounded-md p-1 px-2"
                  >
                    {{ purchaseReturn.status_name }}
                  </div>
                </div>
                <div class="flex-1">
                  {{ purchaseReturn.date | date: "dd MMMM yyyy" }}
                </div>
                <div class="flex-1">
                  {{ purchaseReturn.type_name }}
                </div>
                <div class="flex justify-end">
                  <button
                    type="button"
                    class="btn btn-high"
                    (click)="navigateToDetail(purchaseReturn)"
                  >
                    <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="gird gap-3 p-2 @2xl:hidden">
                <div class="flex w-full items-center justify-between">
                  <div class="flex-1">
                    <p class="text-xs">
                      {{ purchaseReturn.purchase_return_no }}
                    </p>
                    <p class="font-bold">{{ purchaseReturn.supplier.name }}</p>
                  </div>
                  <div class="flex items-center justify-end gap-2">
                    <div
                      class="w-fit rounded-md px-2 py-1"
                      [ngClass]="getStatusColor(purchaseReturn.status)"
                    >
                      {{ purchaseReturn.status_name }}
                    </div>
                    <button
                      type="button"
                      class="btn btn-high"
                      (click)="navigateToDetail(purchaseReturn)"
                    >
                      <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
                    </button>
                  </div>
                </div>
                <div
                  class="my-2 h-0.5 w-full bg-zinc-200/50 dark:bg-zinc-700/50"
                ></div>
                <div class="flex w-full gap-3">
                  <div class="flex-1">
                    <p class="text-xs">Date</p>
                    <p>
                      {{ purchaseReturn.date | date: "dd MMMM yyyy" }}
                    </p>
                  </div>
                  <div class="flex-1">
                    <p class="text-xs">Type</p>
                    <p>
                      {{ purchaseReturn.type_name }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading && purchaseReturns.length == 0">
        <div class="w-full py-[20vh] text-center">
          <p>No data found</p>
        </div>
      </ng-container>
      <div class="w-full py-[20vh] text-center" *ngIf="loading">
        <p-progress-spinner ariaLabel="loading" />
      </div>
    </div>
    <div class="card flex justify-between gap-3">
      <div class="flex text-sm dark:text-white text-gray-700 items-center px-2">
        Showing {{ (page - 1) * rows + 1 }} -
        {{ Math.min(page * rows, totalRecords) }} of {{ totalRecords }}
      </div>
      <p-paginator
        [rows]="rows"
        [first]="(page - 1) * rows"
        [rowsPerPageOptions]="[5, 10, 50, 100]"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageUpdate($event)"
        [showFirstLastIcon]="false"
      />
    </div>
  </div>
  <div
    class="hidden flex-1 @3xl:block"
    *ngIf="selectedPurchaseReturn && quickView && purchaseReturns.length > 0"
  >
    <app-purchase-return-view
      [purchaseReturn]="selectedPurchaseReturn"
      [quickView]="quickView"
      (onDeleted)="onDeleted()"
      (onUpdated)="onUpdated($event)"
    ></app-purchase-return-view>
  </div>
</div>
